*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/deviceManager.xml
/.idea/deploymentTargetSelector.xml
.idea/*.xml
.idea/**/*.xml
.idea/
.idea/gradle.xml
.idea/*
.idea/**
.ai/
.artifacts/
**/bin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.tflite
.bin/
.xml
.codegraph/
opencode.json
.opencode/**
.opencode/*
.kotlin
*.jar
**/google-services.json
app/google-services.json
*.apk
*.dm
output-metadata.json
*.aab